@charset "UTF-8";
* {
  box-sizing: border-box; }

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

@font-face {
  font-family: "Brandon Grotesque Regular";
  src: url("../fonts/BrandonGrotesque-Regular.eot");
  src: url("../fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Brandon Grotesque Medium";
  src: url("../fonts/BrandonGrotesque-Medium.eot");
  src: url("../fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.gs-header {
  padding-top: 40px;
  background-color: black;
  color: white;
  text-transform: uppercase; }
  .gs-header__top {
    display: flex;
    justify-content: space-between; }
    .gs-header__top a {
      position: relative;
      text-decoration: none;
      font-family: "Brandon Grotesque Medium";
      color: white;
      font-size: 1.875rem;
      letter-spacing: 0.14em; }

q::after,
q::before {
  content: ''; }

#text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6em;
  line-height: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-100%); }
  #text:hover {
    cursor: default; }
  #text .wrapper {
    display: inline-block;
    top: -900px;
    position: relative;
    height: 150px;
    /* default */
    width: 90px;
    /* default */
    transition: ease 0.3s all; }
    #text .wrapper span {
      position: absolute;
      top: 0;
      right: 0;
      transition: ease 0.3s all; }
      #text .wrapper span.letter-2 {
        color: #a49959; }
      #text .wrapper span.letter-1 {
        color: white;
        z-index: 1; }
        #text .wrapper span.letter-1:hover {
          top: -3px;
          right: -3px; }
          #text .wrapper span.letter-1:hover ~ .letter-2 {
            top: 3px;
            right: 3px; }
      #text .wrapper span.space {
        padding: 0;
        min-width: 30px;
        display: inline-block; }

.gs-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  .gs-social__item + .gs-social__item {
    margin-left: 50px; }
  .gs-social__link i {
    color: #a49959;
    font-size: 1.5rem; }
    .gs-social__link i:hover {
      transform: scale(1.2); }

.input-hide {
  display: none; }

.personal__Cart, .personal__account {
  margin-left: 50px; }

.gs-personal__btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: default;
  outline: none; }

.gs-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px 0 25px 0;
  margin: 0; }
  .gs-menu__item + .gs-menu__item {
    margin-left: 50px; }
  .gs-menu__link {
    color: white;
    text-decoration: none;
    font-family: "Brandon Grotesque Regular";
    font-size: 0.875rem;
    letter-spacing: 0.12em; }

nav {
  position: relative;
  display: flex;
  justify-content: center; }

nav::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  bottom: 70px;
  left: 0rem;
  right: 0rem;
  background-color: rgba(255, 255, 255, 0.25);
  overflow: hidden; }

.gs-topsales__wrapper {
  text-align: center;
  padding-top: 80px; }

.gs-topsales__title {
  margin: 0 0 80px 0;
  color: #cccccc;
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  font-weight: 300; }

.gs-topsales__img {
  width: 100%; }

.gs-topsales__subtitle {
  margin: 0;
  padding: 40px 0 60px 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 1.625rem; }

.gs-topsales__btn {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.12rem;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #a49959;
  font-size: 24px;
  color: #a49959;
  transition: 0.5s;
  overflow: hidden; }
  .gs-topsales__btn:hover {
    color: #fff; }
  .gs-topsales__btn q {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(167, 122, 79, 0.5);
    transition: 0.5s;
    z-index: -1; }
  .gs-topsales__btn q:nth-child(1) {
    top: -100%;
    left: -100%; }
  .gs-topsales__btn:hover q:nth-child(1) {
    top: 0;
    left: 0; }
  .gs-topsales__btn q:nth-child(2) {
    bottom: -100%;
    left: -100%; }
  .gs-topsales__btn:hover q:nth-child(2) {
    bottom: 0;
    left: 0; }
  .gs-topsales__btn q:nth-child(3) {
    top: -100%;
    right: -100%; }
  .gs-topsales__btn:hover q:nth-child(3) {
    top: 0;
    right: 0; }
  .gs-topsales__btn q:nth-child(4) {
    bottom: -100%;
    right: -100%; }
  .gs-topsales__btn:hover q:nth-child(4) {
    bottom: 0;
    right: 0; }

.gs-slider {
  max-width: 75%;
  margin: 0 auto; }

.gs-slide {
  padding-bottom: 50px; }

.slick-prev,
.slick-next {
  z-index: 100; }

.slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 4rem;
  content: "\f054";
  margin: 0 0.75rem 0 1rem;
  display: inline-block;
  color: grey; }

.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 4rem;
  content: "\f053";
  margin: 0 1rem 0 0.75rem;
  display: inline-block;
  color: grey; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  opacity: 1; }

.slick-prev {
  left: -155px; }

.slick-next {
  right: -105px; }

.slick-dots {
  position: relative;
  padding-bottom: 30px; }

.slick-dots li button {
  color: #d1d1d1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500; }

.slick-dots li button::before {
  content: ""; }

.slick-dots li.slick-active button:before {
  content: "•";
  color: #d1d1d1;
  opacity: 1;
  font-size: 18px;
  top: 4px; }

.gs-popular__wrapper {
  display: flex; }

.popular__info {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%); }

.popular__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.225rem;
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0; }

.popular__price {
  font-family: "Poppins", sans-serif;
  font-size: 0.825rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10px 0 20px;
  color: #e6e6c2; }

.popular__details {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.12rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #a49959;
  font-size: 16px;
  color: #a49959;
  transition: 0.5s;
  overflow: hidden; }
  .popular__details:hover {
    color: #fff; }
  .popular__details q {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(167, 122, 79, 0.5);
    transition: 0.5s;
    z-index: -1; }
  .popular__details q:nth-child(1) {
    top: -100%;
    left: -100%; }
  .popular__details:hover q:nth-child(1) {
    top: 0;
    left: 0; }
  .popular__details q:nth-child(2) {
    bottom: -100%;
    left: -100%; }
  .popular__details:hover q:nth-child(2) {
    bottom: 0;
    left: 0; }
  .popular__details q:nth-child(3) {
    top: -100%;
    right: -100%; }
  .popular__details:hover q:nth-child(3) {
    top: 0;
    right: 0; }
  .popular__details q:nth-child(4) {
    bottom: -100%;
    right: -100%; }
  .popular__details:hover q:nth-child(4) {
    bottom: 0;
    right: 0; }

.popular-bigblock {
  text-align: center;
  position: relative;
  align-items: center; }
  .popular-bigblock__info {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); }
  .popular-bigblock img {
    width: 100%; }
  .popular-bigblock__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: 300;
    margin: 0; }
  .popular-bigblock__price {
    font-family: "Poppins", sans-serif;
    font-size: 1.225rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0px 0 50px;
    color: #e6e6c2; }
  .popular-bigblock__details {
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 0.12rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #a49959;
    font-size: 24px;
    color: #a49959;
    transition: 0.5s;
    overflow: hidden; }
    .popular-bigblock__details:hover {
      color: #fff; }
    .popular-bigblock__details q {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(167, 122, 79, 0.5);
      transition: 0.5s;
      z-index: -1; }
    .popular-bigblock__details q:nth-child(1) {
      top: -100%;
      left: -100%; }
    .popular-bigblock__details:hover q:nth-child(1) {
      top: 0;
      left: 0; }
    .popular-bigblock__details q:nth-child(2) {
      bottom: -100%;
      left: -100%; }
    .popular-bigblock__details:hover q:nth-child(2) {
      bottom: 0;
      left: 0; }
    .popular-bigblock__details q:nth-child(3) {
      top: -100%;
      right: -100%; }
    .popular-bigblock__details:hover q:nth-child(3) {
      top: 0;
      right: 0; }
    .popular-bigblock__details q:nth-child(4) {
      bottom: -100%;
      right: -100%; }
    .popular-bigblock__details:hover q:nth-child(4) {
      bottom: 0;
      right: 0; }

.popular-blocks {
  display: flex; }
  .popular-blocks .ba-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

.popular-smallblock {
  align-items: center;
  text-align: center;
  position: relative; }
  .popular-smallblock img {
    width: 100%;
    display: block; }

.gs-arrivals__item {
  position: relative;
  overflow: hidden; }
  .gs-arrivals__item-title {
    font-family: "Vollkorn", serif;
    font-size: 2.725rem;
    margin: 0;
    margin-top: -4.3rem;
    color: #a49959; }
  .gs-arrivals__item-price {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    color: #a49959; }
  .gs-arrivals__item-link {
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 0.12rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #a49959;
    font-size: 24px;
    color: #a49959;
    transition: 0.5s;
    overflow: hidden; }
    .gs-arrivals__item-link:hover {
      color: #fff; }
    .gs-arrivals__item-link q {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(167, 122, 79, 0.5);
      transition: 0.5s;
      z-index: -1; }
    .gs-arrivals__item-link q:nth-child(1) {
      top: -100%;
      left: -100%; }
    .gs-arrivals__item-link:hover q:nth-child(1) {
      top: 0;
      left: 0; }
    .gs-arrivals__item-link q:nth-child(2) {
      bottom: -100%;
      left: -100%; }
    .gs-arrivals__item-link:hover q:nth-child(2) {
      bottom: 0;
      left: 0; }
    .gs-arrivals__item-link q:nth-child(3) {
      top: -100%;
      right: -100%; }
    .gs-arrivals__item-link:hover q:nth-child(3) {
      top: 0;
      right: 0; }
    .gs-arrivals__item-link q:nth-child(4) {
      bottom: -100%;
      right: -100%; }
    .gs-arrivals__item-link:hover q:nth-child(4) {
      bottom: 0;
      right: 0; }

.gs-arrivals__title {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  text-align: center;
  margin: 100px 0 40px 0; }

.gs-arrivals .container {
  text-align: center; }

.gs-arrivals__item-img {
  width: 350px;
  height: 220px; }

.gs-arrivals__item-info {
  background: radial-gradient(ellipse at center, #4c4c4c 0%, rgba(76, 76, 76, 0.96) 28%, rgba(19, 19, 19, 0.87) 100%);
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  position: absolute;
  top: -100%;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.4s;
  text-align: center; }

.gs-arrivals__item-card {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 350px; }

.gs-arrivals__btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.12em;
  margin: 60px 0 300px 0;
  text-align: center;
  border: 2px solid #e7e8ea;
  color: #aeb0b5;
  padding: 1.5625rem 14.375rem;
  background: none; }

.item-card__logo {
  width: 70px;
  height: 70px; }

.gs-arrivals__item:hover .gs-arrivals__item-info {
  transform: translateY(100%); }

.gs-partners__title {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  text-align: center;
  margin: 50px 0 80px 0; }

.gs-partners__img {
  width: 300px;
  opacity: 0.7; }

.gs-footer {
  text-align: center; }
  .gs-footer-baner {
    padding-top: 80px;
    height: 700px;
    overflow: hidden; }
    .gs-footer-baner img {
      width: 100%;
      margin-top: -50px; }
  .gs-footer-info {
    color: white;
    font-family: "Brandon Grotesque Regular";
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1rem; }
    .gs-footer-info i {
      margin-right: 15px;
      color: rgba(189, 185, 183, 0.849); }
  .gs-footer-bot {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 15px; }
  .gs-footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 75px 0; }
  .gs-footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left; }
  .gs-footer-social .gs-social {
    margin-top: 20px; }
  .gs-footer-social .gs-logo {
    text-decoration: none;
    font-family: "Brandon Grotesque Medium";
    color: black;
    font-size: 1.875rem;
    letter-spacing: 0.14em; }
  .gs-footer-item {
    margin: 10px 0; }
    .gs-footer-item:hover {
      transform: scale(1.3); }
  .gs-footer__text {
    text-decoration: none;
    margin: 5px 0;
    text-transform: uppercase;
    font-family: "Brandon Grotesque Regular";
    font-size: 0.725rem;
    color: black; }

.gs-form-email {
  text-align: left; }
  .gs-form-email input {
    border: none;
    background-color: black;
    width: 280px;
    padding: 1.2rem 0 1.2rem 1rem; }
    .gs-form-email input::placeholder {
      text-transform: uppercase;
      color: gray;
      font-size: 0.7rem; }

.gs-form-btn {
  border: none;
  background: black;
  color: gray;
  text-transform: uppercase;
  padding: 1.2rem;
  font-size: 0.7rem; }

.gs-form__title {
  text-transform: uppercase;
  font-family: "Brandon Grotesque Regular";
  font-weight: 300;
  font-size: 0.8rem; }

.gs-menu__item {
  position: relative;
  display: inline-block;
  padding: 10px; }
  .gs-menu__item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #a49959;
    content: ""; }
  .gs-menu__item:hover::before {
    animation: bg-animation;
    opacity: 0.3;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; }

@keyframes bg-animation {
  0% {
    width: 10%; }
  100% {
    width: 100%; } }
